.spacer {
  flex-grow: 1;
}

.content {
  margin-top: 3.5rem;
}

.p-layer {
  padding-top: 56px;
}

.App {
  color: #fff;
}

.imgContainer {
  background-color: #000;
  display: flex;
  justify-content: center;
  width: 100%;
}

.bannerImg {
  /* position: absolute; */
  height: 100vh;
  width: auto;
}

.sectionHeader {
  padding: 1em;
}

/* Home */

.homeTextContainer {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.homeContainer {
  margin-top: 10%;
  justify-content: space-around;
}

.name {
  display: flex;
  flex-direction: column;
  font-size: 8rem;
  font-weight: 700 !important;
  justify-content: space-around;
  letter-spacing: 0.1em !important;
  line-height: 90% !important;
  margin-top: 1em;
}

.tagline {
  font-size: 4rem;
  text-align: right;
  margin-top: 1.5em !important;
  width: 100%;
}

/* Project Cards */

.projectContainer {
  padding-top: 3rem;
}

.footerText {
  margin: auto 0;
}

.card {
  /* background-color: #0d408d !important; */
  margin: 2rem 10%;
}

.logo {
  height: 3em;
  width: auto;
}