.navLogo {
  height: auto;
  width: 1.5rem;
}

.navLogoParent {
  margin: auto;
  padding: 0 0.7rem !important;
}

.navBtn {
  padding: 0.1 0.6em !important;
}

.navBtnImg {
  height: 1em;
  width: auto;
  color: #000;
}

.navBtnImg:hover {
  height: 1em;
  width: auto;
  color: #fff;
}

.nav-link {
  color: #000 !important;
}

.content {
  margin-top: 3.5rem;
}

.p-layer {
  padding-top: 56px;
}

.stickyNavLayer {
  z-index: 1500;
}

.stickyNavBar {
  z-index: 1600;
}

.App {
  color: #000;
}

.imgContainer {
  background-color: #000;
  display: flex;
  justify-content: center;
  width: 100%;
}

.bannerImg {
  /* position: absolute; */
  height: 100vh;
  width: auto;
}

.scrollText {
  font-weight: 600;
  margin-top: 30%;
  color: #fff;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.sectionHeader {
  padding: 1em;
}

/* Home */

.homeTextContainer {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.homeContainer {
  margin-top: 10%;
  justify-content: space-around;
}

.name {
  display: flex;
  flex-direction: column;
  font-size: 8rem;
  font-weight: 700 !important;
  letter-spacing: 0.1em !important;
  line-height: 90% !important;
  color: #fff;
}

.tagline {
  font-size: 4rem;
  text-align: right;
  width: 100%;
}

.tagline code {
  color: #fff;
}

.resumeBtn {
  padding: 0.5em 3em !important;
  z-index: 1650;
}

/* Project Cards */

.projectContainer {
  padding-top: 3rem;
}

.footerText {
  margin: auto 0;
}

.card {
  /* background-color: #0d408d !important; */
  margin: 2rem 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.logo {
  height: 3em;
  width: auto;
}

/* Contact */
.cushion {
  margin: 0 20%;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.container {
  padding: 0 3rem !important;
}